<div class="col">
    <div class="card">
        <img [src]="film.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <p class="card-text">{{film.description}}</p>
            <div class="row">

                <div class="col-lg-9 col-md-6">
                    <a href="" class="btn btn-info btn-block">Edit film</a>
                </div>

                <div class="col-lg-3 col-md-6">
                    <a href="" class="btn btn-danger btn-block"><i class="far fa-trash-alt"></i></a>

                </div>
            </div>

        </div>
    </div>
</div>