.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h1 {
  justify-content: center;
  align-items: center;
}

.buttons-home {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-inline: 10px;
}
